UnityProject/TemplateScene/Library
UnityProject/TemplateScene/Logs
UnityProject/TemplateScene/Temp
Project/cmake-build-debug
Project/.idea
.DS_Store
build
.vscode
CMakeFiles
CMakeCache.txt
room.blend
room.blend1